
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/USER/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align: center;"> 
    <article class="blogpost">
        <div class="post-title"><h3 style="font-size: 30px;">Sứ mệnh của chúng tôi</h3></div>
        <div class="space30"></div>
        <div class="article-content">
            <p>
                <span>
                    <span style="font-size: 17px;">Maria Montessori từng nói “Bên trong trẻ nhỏ là vận mệnh của tương lai.” tin vào điều đó, StartCodingNow tự hào là một trong những trung tâm đào tạo lập trình cho trẻ em đầu tiên tại Việt Nam. Chúng tôi cung cấp các khóa học Coding & Robotics và Coding & ScratchJr cho tất cả trẻ em từ 5 tuổi trở lên.</span>
                </span>
            </p>
        </div>
        <hr style="background-color: #ffd823;display: block;width: 100px;
    height: 4px;
    border-radius: 2px;box-sizing: inherit;" />
        <div class="post-title"><h3 style="font-size: 30px;">Tầm nhìn của chúng tôi</h3></div>
        <div class="space30"></div>
        <div class="article-content">
            <p>
                <span>
                    <span style="font-size: 17px;">Bằng cách dạy các bài học về lập trình và vui chơi cùng trẻ, StartCodingNow mong muốn góp phần tạo ra một thế hệ các trẻ em Việt Nam có đủ bản lĩnh, tư duy sáng tạo, có nền tảng kiến thức sâu rộng không chỉ về lập trình, nhằm nâng cao triển vọng nghề nghiệp, đồng thời là một “bước đi trước” đón đầu kỉ nguyên công nghệ số.  </span>
                </span>
            </p>
        </div>
        <hr style="background-color: #ffd823;display: block;width: 100px;
    height: 4px;
    border-radius: 2px;box-sizing: inherit;" />
        <div class="post-title"><h3 style="font-size: 30px;">Giá trị của chúng tôi</h3></div>
        <div class="space30"></div>
        <div class="article-content">
            <p>
                <span>
                    <span style="font-size: 17px;">Chúng tôi cam kết đảm bảo mọi trẻ em đến với StartCodingNow sẽ có cơ hội học tập và vui chơi trong môi trường giáo dục thân thiện, chuyên nghiệp và tiên tiến nhất. Mục tiêu của StartCodingNow là tạo ra một hướng đi mới trong giáo dục tư duy cho trẻ nhỏ bởi chúng tôi tin tưởng rằng không hành trang nào quý hơn khả năng trẻ tự khai khác và sử dụng những tiềm năng sẵn có của mình. </span>
                </span>
            </p>
        </div>
        <hr style="background-color: #ffd823;display: block;width: 100px;
    height: 4px;
    border-radius: 2px;box-sizing: inherit;" />
        <div class="post-title"><h3 style="font-size: 30px;">Liên hệ với chúng tôi</h3></div>
        <div class="space30"></div>
        <div class="article-content">
            <p>
                <span>
                    Website: <a href="http://startcodingnow.com">http://startcodingnow.com</a>
                </span>
            </p>
            <p>
                <span>
                    Facebook fanpage: <a href="https://www.facebook.com/startcodingnow.sg/notifications/">https://www.facebook.com/startcodingnow.sg/notifications/</a>
                </span>
            </p>
            <p>
                <span>
                    Email:  <a href="startcodingnow.com@gmail.com">startcodingnow.com@gmail.com</a>
                </span>
            </p>
            <p>
                <span>
                    Hotline: 0866576855
                </span>
            </p>
        </div>
    </article> 
</div>

