@model List<StartCodingNowWebManager.Areas.USER.Models.Cart_items>

<div class="container" style="back">
    <div class="head-top">
        <div class="logo">
            <a href="index.html"><img src="~/Assets/Image/logo.png" alt=""></a>
        </div>
        <div class=" h_menu4">
            <ul class="memenu skyblue">
                <li class="active grid"><a class="color8" href="/USER/Home/">Trang Chủ</a></li>
                <li>
                    <a class="color1" href="/User/TinTuc">Tin Tức</a>
                </li>
                <li class="grid">
                    <a class="color2" href="/USER/san-pham">RoBot</a>
                </li>
                <li><a class="color4" href="/User/KhoaHoc">Khóa Học</a></li>
                <li><a class="color6" href="/USER/Vechungtoi">Về chúng tôi</a></li>
                <li><a class="color6" href="/USER/XemDonHang">Xem Đơn Hàng</a></li>
                <li><a class="color6" href="/USER/gio-hang"><img src="~/Assets/Image/cart_gh.png" alt="" /></a></li>
            </ul>
        </div>

    </div>


</div>

